<div class="container">
  <%= simple_form_for task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :completed, as: :boolean %> <!-- Use f.input for boolean -->
    <%= f.button :submit, "Create Task", class: "btn btn-primary" %>
  <% end %>
</div>
